
@import "../../Global.scss";

.mainMenu {
    font: inherit;
    display: flex;
    justify-content: center;

    background-color: $color-background;

    a{
        text-decoration: none;
        color: $color-light;
        padding: 1rem 1.7rem;
        font-size: 1.2rem;
        display: block;

        &:hover{
            background-color: $color-light-accent;
            color: $color-dark;
        }

        // @include breakpoint-small{
        //     padding: 0.75rem 1.5rem;
        //     font-size: 1.1rem;
        // } find proper breakpoints and move to global styles
    }
}