* {
    box-sizing: border-box;
    color: white;
}

$color-background: #6f6d7a;     
$color-light: #FFFFFF;           
$color-dark: #0d0c1d;           
$color-accent: #161b33;         
$color-light-accent: #c6c5d1;   

$breakpoint-small: '(max-width: 600px)';